.background {
             background-color: black;
            
            
            }


.ul {
        display: flex;
        text-decoration: none;
        align-items: center;
    }
    
.li {
        display: flex;
        position: relative;
        margin-top: auto;
        padding: 10px;
        margin: 30px;
        align-items: center;
    }

.h1 {
        background: url(./img/img_piercing/piercing.JPG);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-align: center;
        padding: 5%;
        font-size: 60px;
        font-family: 'cinetype';
    }

.main {
        color: antiquewhite;
      
      
      }

.footer {
            color: antiquewhite;
        
        }