*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;

}




.background {

    background: radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    width: 100%;

            }
 .subtitulo{

    color: rgba(183, 71, 26, 0.5);
    text-align: center;
    font-size: 50px;
    font-family: 'cinetype';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-decoration: none;
   
}

.headernavli{

    margin: auto;

}

#menunav{

width: 100%;


}

#bannertattoo{

    background-image: url(/img/img_tattoo/251472963_4420725831343403_1688607945780440464_n.jpg);
    background-position: center;
    background-size: cover;
        
}

.txtbanner {

    margin: 20px;
    color: blanchedalmond;
     
}

#bannerpiercing{

    background-image: url(/img/img_piercing/153620643_3687572674658726_4319372275958919659_n.jpg);
    background-position: center;
    background-size: cover;
}

#bannerevento{

    background-image: url(/img/eventos/349335261_1258301304893503_2926799387875409256_n.jpg);
    background-position: center;
    background-size: cover;
}
   
.dp-menu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dp-menu ul{
    width: 100%;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    letter-spacing: 0.2em;
    font-size: 1em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.dp-menu ul li {
    /* display: inline-block;
    position: relative; */
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50px;

}

.dp-menu ul li a{
    text-decoration: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    display: inline-block;
    transition: all 0.4s;
}

.dp-menu ul li a:hover {
    color: #ff9807;
    border-radius: 1em;
    transition: all 0.4s;
    background-color: #072cffec;
}

/*Sub-menu*/
.dp-menu ul ul{
    display: none;
    position: absolute;
}

#loguinhr:hover{

}

.dp-menu ul li:hover ul{
    display: block;
    left: auto;
    transition: all 0.4s;
}

.dp-menu ul ul {
    width: 150px;
    padding: 1px;
}

.dp-menu ul ul li{
    display: inline;
}



#span1{

    
        background: url(./img/img_tattoo/tattoo.JPG);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-align: center;
        font-size: 50px;
        font-family: 'cinetype';

 
    }


.sec { 
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;


        }


.sec2 { 

    display: flex;
    text-align: center;
    align-items: center;
    
}

#header{

    display: flex;
    justify-content: center;
    width: 100%;
    
   
}

.expoProf{

    /* width: 100px;
    height: 100px; */
    border: solid white 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 200px;
    flex-wrap: wrap;
    margin: 5px;
    

}


.fotoProf{

    margin-top: 5PX;
    background-size: contain;
    max-width: 90%;
    max-height: 90%;
    border: solid white 1px;
    max-height: 600px;
    min-width: 360px;
}


.banners2  {

    text-align: center;
    align-items: center;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
    
    flex: 1 1 100px;
    
    
    
    /* max-width:  400px;
    max-height: 400px;
    padding: 20px;
    min-height: 360px;
    min-width: 300px;
    margin-top: 20px;
  */
    
        }

.main{

    background-image: url(./img/IMG_4373.JPG);
    background-repeat: no-repeat;
    background-color: aliceblue;
    background-size: 100% 100%;
    
    justify-content: space-around;
    text-align: center;

    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-wrap: wrap;
    
    
    

}

body{


    background-color: black;
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0px auto;
}


.banners   {

    text-align: center;
    align-items: center;

    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    background-color: green;
    margin: 10px;
    flex: 1 1 320px;
    max-width:  400px;
    max-height: 400px;
    padding: 20px;
    min-height: 360px;
    min-width: none;

    border-radius: 100%;
    border-color: red;
    border-style: groove;
    border-width: 1px;
    
        }

.banners :hover{

    background-color: rgba(182, 182, 17, 0.75);
    color: black;
    border-radius: 20px;
    

}

section{

    flex-wrap: wrap;

}



.label{

    color: black;
    font-size: 15px;

}
#declaracao{


    background: radial-gradient(circle, rgba(9,9,121,50%) 70%, rgba(0,212,255,1) 100%);  
    text-align: center;
    min-width: 360px;
    margin: auto;
    margin-top: 50px;
    font-size: 20px;
    line-height: 30px;
    max-width: 360px;
    color: yellow;
    border-radius: 20px 0px 20px 0px;


}

.anm {

    width: 100%;
    flex-wrap: wrap;
    display: flex;
 
}





.orcamentoindex {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.h1{

    color: goldenrod;
   

}

.botao {

    color: black;
    
}

.checkboxloguin {

    margin-left: 5px;

}

.nivel{


    
    text-align: center;
    
    
    margin-top: 50px;
    
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;

}

.btn    {


    display: flex;
    

    align-items: center;
    
    margin: auto;
    width: 140px;
    height: 50px;
    font-size: 15px;

    border-width: 5px;
    border-color: black;
    border-style: groove;
    border-radius: 40px;
    background-color: rgba(211, 211, 211, 0.781);

}

.cortxtbtn{

    color: black;

}



#mainlogin{

    display: flex;
    flex-direction: row-reverse;
    
    

}

#alinhamentoform {

    display: flex;
    flex-direction: row-reverse;



}

#mainrecuperacao{

    background-image: url(/img/IMG_4373.JPG);
    background-repeat: no-repeat;
    background-color: aliceblue;
    background-size: 100% 100%;
    
    text-align: center;
    align-items: center;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  

}

#formrecuperacao{

    width: 360px;
    border-radius: 20px;
    background-color: antiquewhite;

}

.anmcheck {
    
    color: black;
    background-color: rgba(211, 211, 211, 0.912);
    text-align: center;
    min-width: 360px;
    margin: auto;
    font-size: 20px;
    line-height: 30px;
    border-radius: 20px 0px 20px 0px;
    
}

.formagenda,  #formrecuperacao{


    display: flex;
    flex-direction: column;
    width: 360px;
    background-color: rgba(211, 211, 211, 0.584);
    border-radius: 16px;
    padding: 1.5rem 40px;
    

}

#formloguin {

   
    display: flex;
    flex-direction: column;
    width: 360px;
    background-color: rgba(211, 211, 211, 0.584);
    border-radius: 16px;
    

}

.formdivcadastro{

    display: flex;
    flex-direction: column;
    width: 360px;
    background-color: rgba(211, 211, 211, 0.584);
    border-radius: 16px;
    padding: 1.5rem 40px;


}

.redirecionamento {

    font-family: none;
    text-decoration: none;
    color: yellow;
    margin: 10px;

}

.pass {

    margin: 0px;
    margin-top: 50px;
    flex-direction: column;
    
    

}

.btn2 {

   margin: 10px; 

}



#botaoentrar {


    font: bold;
    box-shadow: rgb(210, 167, 171) 8px 8px 8px;
    margin: 10px;
    padding: 8px 30px;
    border-radius: 10px;


}

.nivel .btn .cor {

    color: black;

}

.cor {

    margin: 5px;
    margin-top: 15px;

}


#titulologin{

    padding-top: 50px;

}

.geral {

    margin: 30px;
    

}

.recuperacao {

    background-color: antiquewhite;
    text-align: center;
     
    font-size: 15px;
    line-height: 30px;

}

.etiqueta{
    
    margin: auto;

}

.labelagenda{

    color: black;
    font-size: 15px;

}

.divback{

    background: radial-gradient(circle, rgba(9,9,121,50%) 50%, rgba(0,212,255,1) 100%);
    min-width: none;
    width: auto;
    padding: auto;

}

.textareadescricao {
    min-width: 25%;
    height: 100px;
    width: 300px;

}

#divagenda {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: aliceblue;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    min-height: 360px;
    display: flex;
    flex-wrap: wrap;
    


}


footer {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background: radial-gradient(circle, rgba(9,9,121,50%) 50%, rgb(22, 145, 170) 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 1rem;
}

#footer_contato h1 {
    margin-bottom: 0.75rem;
}

#footer_midia_social {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_midia_social .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: blanchedalmond;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_midia_social .footer-link i {
    font-size: 1.25rem;
}

#footer_midia_social .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook { 
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    align-items: center;
}

.footer-list .footer-link {
    color: rgb(255, 255, 255);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #ff9807;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

#footer_subscribe p {
    color: rgb(255, 255, 255);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: #e3e6eb42;
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #0438a0be;
    border: none;
    color: #ff9807;
    padding: 0px 1.25rem;
    font-size: 1.25rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

h3 {
    color: #ff9807;
}

#footer-h1  {
    color: #ff9807;
}

p {
    color: #f8f7f6;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 768px) {
    .dp-menu ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    .dp-menu ul {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

@media (max-width: 600px){

    #header{

        display: flex;
        flex-direction: column;

    }

    #header nav{

        display: flex;
        flex-direction: column;

    }

    #header nav ul{

        display: flex;
        flex-direction: column;
        align-items: center;
    }

}





